#screen {
    width: 600px;
    height: 750px;
    background-color: gray;
    background-image: url('../assets/stairs.png');
    animation-name: ggs;
    animation-duration: 4s;
}

@keyframes ggs {
    from {opacity: 0;}
    to {opacity: 1;}
}

.title {
    text-align: center;
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    opacity: 0.8;
}

.point {
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    opacity: 0.8;
    margin-left: 30px;
}

#start {
    opacity: 0.9; 
    height: 100px;
    font-size: 50px;
    font-family: STFangsong, 標楷體, sans-serif;
}

#score {
    opacity: 0.9; 
    height: 100px;
    font-size: 50px;
    font-family: STFangsong, 標楷體, sans-serif;
}

#exit {
    opacity: 0.9; 
    height: 100px;
    font-size: 50px;
    font-family: STFangsong, 標楷體, sans-serif;
    background-color: gray;
    color: white;
}