#screen {
    width: 600px;
    height: 750px;
    background-color: gray;
    background-image: url('../assets/stairs.png');
    animation-name: stair;
    animation-duration: 4s;
}

@keyframes stair {
    from {opacity: 0;}
    to {opacity: 1;}
}

.title {
    text-align: center;
    color: rgba(50, 50, 50, 0.7);
    font-family: FZYaoti, YouYuan, STFangsong, 標楷體, sans-serif;
    font-size: 80px;
}

#start {
    opacity: 0.9; 
    height: 80px;
    font-size: 40px;
    font-family: STFangsong, 標楷體, sans-serif;
}

#p2 {
    opacity: 0.9; 
    height: 80px;
    font-size: 40px;
    font-family: STFangsong, 標楷體, sans-serif;
    background-color: gray;
}

#score {
    opacity: 0.9; 
    height: 80px;
    font-size: 40px;
    font-family: STFangsong, 標楷體, sans-serif;
}